.header {
  background-color: white;
  box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
  padding: 16px 0;

  &-list {
    @include flex(row, 20px);
  }

  &-item {
    display: inline-block;
    padding: 14px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    border-radius: 10px;
    color: $gray3;
    background-color: $gray7;
    transition: all 0.2s linear;
    &:hover {
      background-color: $primary-color;
      color: white;
      font-weight: 700;
    }
  }
}
