* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
:root {
  --primary-color: #3b71fe;
  --black-color: #141416;
  --gray2: #353945;
  --gray3: #777e90;
  --gray6: #f4f5f6;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: #f5f5f5;
  padding: 20px 20px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.heading {
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: var(--black-color);
}

/* Top tour */
.tour-list {
  /* Use margin */
  /* margin-left: -30px; */
  /* Use gap */
  column-gap: 30px;
  row-gap: 30px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.tour {
  /* Use margin */
  /* width: calc(33.33% - 30px);   */
  /* margin-left: 30px; */

  /* Use gap */
  /* Gap just contain space of block, not include start and end => total gap is 60px => width - 60/3=20px  */
  width: calc(33.33% - 20px);

  height: auto;
  background: white;
  border-radius: 10px;
}

.tour-top {
  position: relative;
}

.tour-image {
  width: 100%;
  height: 239px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.tour-price {
  position: absolute;
  top: 24px;
  left: 30px;
  padding: 5px 16px;
  display: inline-block;
  color: #fcfcfd;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  background: rgb(53, 57, 69, 0.8);
  border-radius: 4px;
}

.tour-content {
  padding: 20px 20px 14px;
  border-radius: 0 0 10px 10px;
}

.tour-title {
  color: #23262f;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.556;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour-rating {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-duration,
.tour-review-count {
  color: #353945;
}

.tour-review {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.tour-review-count {
  /* margin-left: 11px; */
}

.tour-duration {
  display: inline-block;
}

.tour-button {
  padding: 8px 17px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border-radius: 8px;
  background: #3b71fe;
  color: white;
  display: inline-block;
}

/* 320, 480, 768,  */
@media screen and (max-width: 767.98px) {
  .tour-list {
    row-gap: 20px;
  }
  .tour {
    width: 100%;
  }

  .tour-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .tour-rating,
  .tour-button {
    font-size: 12px;
  }
}

/* Popular Things */
.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.popular-item {
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}

.popular-image {
  height: 211px;
  position: relative;
  border-radius: 14px 14px 0 0;
}

.popular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    24.19deg,
    rgba(4, 4, 4, 0.52) 0.23%,
    rgba(4, 4, 4, 0) 55.52%
  );
}

.popular-label {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--gray6);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding: 4px 18px;
  border-radius: 30px;
  transform: translate(0, 50%);
}

.popular-content {
  padding: 11px 20px;
}

.popular-time {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.22;
  color: var(--gray3);
  margin-bottom: 8px;
}

.popular-title {
  font-size: 18px;
  line-height: 1.556;
  margin-bottom: 9px;

  /* Display ellipsis when title too long */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.popular-review {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.review-count {
  color: var(--gray2);
  font-size: 12px;
  line-height: 1.75;
}
