.popular-list {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  gap: 30px;
  overflow-x: auto;
}

.popular-item {
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}

.popular-image {
  height: 211px;
  position: relative;
  border-radius: 14px 14px 0 0;
}

.popular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    24.19deg,
    rgba(4, 4, 4, 0.52) 0.23%,
    rgba(4, 4, 4, 0) 55.52%
  );
}

.popular-label {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--gray6);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding: 4px 18px;
  border-radius: 30px;
  transform: translate(0, 50%);
}

.popular-content {
  padding: 11px 20px;
}

.popular-time {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.22;
  color: var(--gray3);
  margin-bottom: 8px;
}

.popular-title {
  font-size: 18px;
  line-height: 1.556;
  margin-bottom: 9px;
  color: var(--black-color);
  font-weight: 500;
  /* Display ellipsis when title too long */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.popular-review {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.review-count {
  color: var(--gray2);
  font-size: 12px;
  line-height: 1.75;
}
