.tour-list {
  // @include flexOptimized(
  //   (
  //     direction: row,
  //     wrap: wrap,
  //   )
  // );

  // Option 1
  /* Use margin */
  /* margin-left: -30px; */

  // Option 2
  /* Use gap */
  /* column-gap: 30px;
      row-gap: 30px; */

  /* Use variables */
  /* ((3-1) * 30) / 3 */
  // --columns: 3;
  // --gap: 30px;
  // --spacing: calc(calc(calc(var(--columns) - 1) * var(--gap)) / var(--columns));
  // gap: var(--gap);

  // Option 4
  // Grid
  display: grid;
  gap: 30px;
  @include gridColumn(370px);

  .tour-item {
    // Option 1
    /* Use margin */
    /* width: calc(33.33% - 30px);   */
    /* margin-left: 30px; */

    // Option 2
    /* Use gap */
    /* Gap just contain space of block, not include start and end => total gap is 60px => width - 60/3=20px  */
    /* width: calc(33.33% - 20px); */

    /* Use variables */
    //width: calc(calc(100% / var(--columns)) - var(--spacing));

    // Option 3
    /* Có thể sử dụng flex 1 để dàn layout cho các item có width = nhau*/
    //flex: 1;

    // Option 4
    // Grid

    height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);

    .tour-top {
      position: relative;
    }

    .tour-image {
      width: 100%;
      height: 239px;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }

    .tour-price {
      position: absolute;
      top: 24px;
      left: 30px;
      padding: 5px 16px;
      display: inline-block;
      color: #fcfcfd;
      background: rgb(53, 57, 69, 0.8);
      border-radius: 4px;

      @include font(
        (
          size: 12px,
          lh: 20px,
          fw: 500,
        )
      );
    }

    .tour-content {
      padding: 20px 20px 14px;
      border-radius: 0 0 10px 10px;
    }

    .tour-title {
      margin-bottom: 20px;
      color: #23262f;
      @include font(
        (
          size: 18px,
          lh: 1.556,
          fw: 500,
        )
      );

      @include ellipsis(2);
    }

    .tour-rating {
      margin-bottom: 20px;

      @include flexOptimized(
        (
          direction: row,
          justify-content: space-between,
          align-items: center,
        )
      );
    }

    .tour-duration,
    .tour-review-count {
      color: #353945;
    }

    .tour-review {
      display: flex;
      align-items: center;
      column-gap: 11px;
    }

    .tour-duration {
      display: inline-block;
    }

    .tour-button {
      padding: 8px 17px;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      border-radius: 8px;
      background: #3b71fe;
      color: white;
      display: inline-block;
    }
  }
}
