@charset "UTF-8";
:root {
  --primary-color: #3b71fe;
  --black-color: #141416;
  --gray2: #353945;
  --gray3: #777e90;
  --gray4: #b1b5c3;
  --gray5: #e6e8ec;
  --gray6: #f4f5f6;
  --gray7: #f4f5f9;
}

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea,
button {
  outline: none;
  font: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: white;
  color: var(--gray3);
}

section {
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: fit-content;
  background-color: var(--primary-color);
  color: white;
  font-size: 24px;
  line-height: 1.5;
}

.heading {
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: var(--black-color);
}

.header {
  background-color: white;
  box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
  padding: 16px 0;
  margin-bottom: 70px;
}
.header-list {
  display: grid;
  grid-template-columns: repeat(3, 124px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-item {
  display: inline-block;
  flex: 1;
  padding: 14px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  border-radius: 10px;
  color: #777e90;
  background-color: #f4f5f9;
  transition: all 0.2s linear;
  text-align: center;
}
.header-item:hover {
  background-color: #3b71fe;
  color: white;
  font-weight: 700;
}

.footer-container {
  max-width: 1110px;
  padding: 68px 15px;
}

.footer-top {
  padding-bottom: 72px;
  border-bottom: 1px solid var(--gray5);
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}

.footer-desc {
  color: var(--gray2);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--gray5);
  border-radius: 24px;
  padding: 8px;
}

.subscribe-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
  padding-inline: 18px;
  width: 100%;
}

.subscribe-email::--webkit-input-placeholder {
  color: var(--gray4);
}

.subscribe-email::--moz-input-placeholder {
  color: var(--gray4);
}

.subscribe-button {
  width: 33px;
  height: 33px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  flex-shrink: 0;
}

.footer-title {
  color: var(--gray2);
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-link {
  display: inline-block;
  color: var(--gray3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--gray4);
}

.socials {
  display: flex;
  gap: 16px;
}

/* Top tour */
.tour-list {
  /* Use margin */
  /* margin-left: -30px; */
  /* Use gap */
  /* column-gap: 30px;
      row-gap: 30px; */
  /* Use variables */
  /* ((3-1) * 30) / 3 */
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.tour-list .tour-item {
  /* Use margin */
  /* width: calc(33.33% - 30px);   */
  /* margin-left: 30px; */
  /* Use gap */
  /* Gap just contain space of block, not include start and end => total gap is 60px => width - 60/3=20px  */
  /* width: calc(33.33% - 20px); */
  /* Use variables */
  /* Có thể sử dụng flex 1 để dàn layout cho các item có width = nhau*/
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
}
.tour-list .tour-item .tour-top {
  position: relative;
}
.tour-list .tour-item .tour-image {
  width: 100%;
  height: 239px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.tour-list .tour-item .tour-price {
  position: absolute;
  top: 24px;
  left: 30px;
  padding: 5px 16px;
  display: inline-block;
  color: #fcfcfd;
  background: rgba(53, 57, 69, 0.8);
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.tour-list .tour-item .tour-content {
  padding: 20px 20px 14px;
  border-radius: 0 0 10px 10px;
}
.tour-list .tour-item .tour-title {
  margin-bottom: 20px;
  color: #23262f;
  font-size: 18px;
  line-height: 1.556;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.tour-list .tour-item .tour-rating {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tour-list .tour-item .tour-duration,
.tour-list .tour-item .tour-review-count {
  color: #353945;
}
.tour-list .tour-item .tour-review {
  display: flex;
  align-items: center;
  column-gap: 11px;
}
.tour-list .tour-item .tour-duration {
  display: inline-block;
}
.tour-list .tour-item .tour-button {
  padding: 8px 17px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border-radius: 8px;
  background: #3b71fe;
  color: white;
  display: inline-block;
}

/* Popular Things */
.popular-list {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  gap: 30px;
  overflow-x: auto;
}

.popular-item {
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}

.popular-image {
  height: 211px;
  position: relative;
  border-radius: 14px 14px 0 0;
}

.popular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(24.19deg, rgba(4, 4, 4, 0.52) 0.23%, rgba(4, 4, 4, 0) 55.52%);
}

.popular-label {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--gray6);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding: 4px 18px;
  border-radius: 30px;
  transform: translate(0, 50%);
}

.popular-content {
  padding: 11px 20px;
}

.popular-time {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.22;
  color: var(--gray3);
  margin-bottom: 8px;
}

.popular-title {
  font-size: 18px;
  line-height: 1.556;
  margin-bottom: 9px;
  color: var(--black-color);
  font-weight: 500;
  /* Display ellipsis when title too long */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.popular-review {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.review-count {
  color: var(--gray2);
  font-size: 12px;
  line-height: 1.75;
}

/* Gem */
.gem-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 150px;
  /* grid-auto-rows: 300px; https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns */
  gap: 20px;
}

.gem-item {
  border-radius: 15px;
}

.gem-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.gem-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gem-item:nth-child(3) {
  grid-column: 1/2;
}

.gem-item:nth-last-child(2) {
  grid-column: 3/-1;
  grid-row: 2/3;
}

.gem-item:last-child {
  grid-column: 2/-1;
}

/* Diamond */
.diamond {
  background-color: #fcfcfc;
  padding: 65px 0;
}

.diamond .container {
  max-width: 998px;
  margin-bottom: 0;
}

.diamond .heading {
  text-align: center;
}

.diamond-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px;
  gap: 30px;
}

.diamond-item {
  background: #ffffff;
  box-shadow: 0px 30px 110px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 12px;
}

.diamond-item .diamond-image {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.diamond-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/* Option 1 
    .diamond-image parent
    .diamond-image .overlay child - according to parent

    Cons: Many children have to absolute according to parent
  */
/* .diamond-content {
    position: absolute;
    left: 30px;
    bottom: 14px;
  } */
/* .diamond-image .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      8.83deg,
      rgba(0, 0, 0, 0.56) 22.88%,
      rgba(0, 0, 0, 0) 58.17%
    );
  } */
/* Option 2 
    .diamond-image parent
    .diamond-image .diamond-content child - according to parent

    Pros: Just .diamond-content absolute according to parent
  */
.diamond-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: linear-gradient(8.83deg, rgba(0, 0, 0, 0.56) 22.88%, rgba(0, 0, 0, 0) 58.17%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 30px;
  padding-bottom: 14px;
  gap: 6px;
}

.diamond-content .diamond-content-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  /* margin-bottom: 6px; */
}

.diamond-content .diamond-content-time {
  color: var(--gray5);
  font-size: 14px;
  line-height: 1.43;
}

.diamond-button {
  margin: 70px auto;
  padding: 9px 40px;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .footer-column:first-child {
    max-width: 268px;
  }
}
/* 320, 480, 768,  */
@media screen and (max-width: 767.98px) {
  section {
    margin-bottom: 20px;
  }
  .heading {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .tour-list {
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .tour-item {
    width: 100%;
  }
  .tour-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tour-rating,
  .tour-button {
    font-size: 12px;
  }
  .popular-things {
    padding: 29px 0;
  }
  .gem-list {
    grid-template-rows: 100px 100px 70px;
  }
  .diamond {
    padding: 30px 0;
  }
  .diamond .heading {
    margin-bottom: 20px;
  }
  .diamond-list {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-auto-rows: 148px;
  }
  .diamond-item {
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  .diamond-button {
    margin-top: 19px;
    margin-bottom: 0;
    padding: 4px 20px;
  }
  .footer-container {
    padding-block: 30px;
  }
  .footer-columns {
    flex-direction: column;
  }
  .footer-logo,
  .footer-desc {
    margin-bottom: 24px;
  }
  .footer-top {
    padding-bottom: 41px;
  }
  .footer-bottom {
    margin-top: 24px;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
